<!--
  ~ Copyright (c) 2014. CodeBoyTeam
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeboy.productflavors.addemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AnZhiApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 安装软件的监听 -->
        <receiver android:name="com.feiwo.receiver.InReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.feiwo.receiver.ConnectReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.feiwo.activity.PA"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- 飞沃的cover -->
        <activity
            android:name="com.feiwo.view.IA"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 飞沃的应用墙听 -->
        <activity
            android:name="com.feiwo.RDA"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.feiwo.RLA"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask" >
        </activity>

    </application>

</manifest>
